@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&family=Roboto+Condensed&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#blogsection1{
    min-width: 100%;
    height: 480px;
    background-image: url(/img/hallo.jpg);
    filter: brightness(70%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#blogsection1 h1{
    font-size: 6rem;
    font-weight: bold;
    color: black;
    position: absolute;
    margin-top: 177px;
    margin-left: 73px;
    border-bottom: 10px solid #FBE8A6;
    border-radius: 2px;
    font-family: 'Raleway', sans-serif;
}

.logo a{
    font-size: 33px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: red;
    
}
.logo a:hover{
    color: white;
    
}
.logo h3{
    position: absolute;
    color: black;
}
.logo{
    position: absolute;
    padding: 26px 56px;
}

#icon{
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    cursor: pointer;
    margin-right: 20px;
    display: none;
}

#navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
}

#navbar ul li{
    list-style: none;
    
}

#navbar ul li a{
    text-decoration: none;
    font-weight: bold;
    padding: 0px 20px;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    color: black
}
#navbar ul li a:hover{
    color: yellow;
    transition: ease-out;
}

#blogsection2{
    min-width: 100%;
    width: 100%;
    height: 500px;
}
#blogsection2 h1{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    font-family: 'Raleway', sans-serif;
}
#blogsection2 h2{
    font-size: 30px;
    margin-top: 30px;
    margin-left: 105px;
    font-weight: bold;
}

#posts{
    display: flex;
    flex-direction: row;
}
.post{
    width: 372px;
    margin-top: 70px;
}
.post img{
    margin-left: 80px;
}
.post_name{
    width: 76%;
    margin-left: 80px;
    text-align: center;
    margin-top: 18px;
    font-size: 20px;
    font-weight: bold;
}
.post_name a{
    text-decoration: none;
    color: black;
}

.post p{
    margin-left: 80px;
    width: 80%;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

footer{
    margin-top: 100px;
    margin-bottom: 250px;
}

#navfooter ul{
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    float: right;
}
#navfooter ul li{
    list-style: none;
}
#navfooter ul li a{
    text-decoration: none;
    padding: 0px 17px;
    color: black;
    font-family: 'Raleway', sans-serif;
}
#navfooter ul li a:hover{
    color: green;
}

.social_icons{
    position: absolute;
    float: right;
    margin-top: 30px;
    right: 10px;
}
.social_icons img{
    margin: 35px 0px;
    margin-right: 45px;
    cursor: pointer;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.social_icons img:hover{
    filter: contrast();
}

.social{
    width: 20px;
    height: 20px;
}

.youtube{
    height: 28px;
    width: 30px;
}

.copyright{
    font-size: 18px;
    align-items: center;
    padding: 10px 0px;
    text-align: center;

}
.copyright a{
    color: black;
    text-decoration: none;

}
.copyright a:hover{
    color: red;

}

@media (max-width: 1121px){

    #icon{
        display: block;
        margin-top: 53px;
        margin-right: 90px;
        font-size: 60px;

    }
    
    #navbar ul{
        padding-top: 115px;
        display: flex;
        display: inline-block;
        margin-left: 40px;
        margin-top: 75px;
    }
    #navbar ul li a{
        font-size: 25px;
        font-weight: bold;
        margin: 1px 12px;
        line-height: 54px;
        color: black;
        font-size: 30px;

    }

    #blogsection1{
        height: 880px;

    }

    #blogsection1 h1 {
        font-size: 6rem;
        font-weight: bold;
        color: black;
        position: absolute;
        margin-top: 280px;
        margin-left: 73px;
        border-bottom: 10px solid #FBE8A6;
        border-radius: 2px;
    }
}

@media (max-width: 778px){
    #posts {
        display: flex;
        flex-direction: column;
    }

    footer{
        padding-top: 400px;
    }
}
